<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable apps with Jail-Monkey Jailbreak detection to bypass.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ariel.jailmonkeybypassprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>nestedEntryCount</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>defaults</key>
			<string>com.ariel.jailmonkeybypassprefs</string>
			<key>key</key>
			<string>enabledApplications</string>
			<key>label</key>
			<string>Select Apps</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
			<key>PostNotification</key>
			<string>com.ariel.jailmonkeybypassprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OTHER</string>
			<key>footerText</key>
			<string>Copyright © 2024 Ariel Gavrielov.</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>action</key>
			<string>sourceLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>GitHub</string>
			<key>label</key>
			<string>Source Code</string>
		</dict>
	</array>
	<key>title</key>
	<string>JailMonkeyBypass</string>
</dict>
</plist>
